# Dependencies
node_modules/

# Build artifacts
dist/
build/
*.tsbuildinfo
.next/
out/
next-env.d.ts
*.local

# Uploads (FS efímero — debería ser S3 en prod)
apps/api/uploads/

# Env files
.env
.env.local
.env.*.local

# Database (Docker volumes)
.postgres-data/
.redis-data/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Prisma
apps/api/prisma/migrations/dev.db*

# Coverage
coverage/
.nyc_output/

# Turbo / cache
.turbo/

# Temp
*.tmp
*.bak
